.test_box {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
}

.settings_input {
  font-size: 18px;
  box-sizing: border-box;
  width: auto;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #0d1117;
  padding: 4px;
}

.settings_input_other {
  font-size: 18px;
  box-sizing: border-box;
  width: auto;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid red;
  padding: 4px;
}

.settings_questionInInput {
  width: 800px;
  height: 40px;
}

.settings_answerInInput {
  min-width: 40px;
  width: auto;
}

.settings_button {
  background-color: rgb(32 32 184);
}
