.tutorial {
  padding: 10px;
}

.tutorial__title {
  font-size: 40px;
  font-weight: 400;
}

.tutorial__list-item {
  font-size: 20px;
  font-weight: 100;
}

.tutorial__list-link {
  color: rgb(60 60 214);
  font-size: 20px;
  font-weight: 100;
}
