.create {
  margin: 30px auto 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.create-h3 {
  margin-top: 10px;
}

.create-h4 {
  margin-top: 10px;
  text-align: center;
}

.create-choose-bot {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
}

.create-list {
  margin-top: 15px;
  margin-left: 20px;
}

.create-button {
  margin-top: 15px;
  background-color: rgb(32 32 184);
  width: 100%;
}
