.create {
  margin: 30px auto 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.create-h3 {
  margin-top: 10px;
}

.create-h4 {
  margin-top: 10px;
  text-align: center;
}

.create-entry-token {
  display: flex;
  flex-direction: row;
}

.create-runing {
  text-align: center;
}

.create-choose-bot {
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.create-list {
  width: 49%;
  text-align: center;
  margin-top: 15px;
  display: block;
  margin-bottom: 10px;
}

.create-list h3 {
  text-align: left;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 100;
}

.create-list h3 {
  text-align: left;
  margin-top: 15px;
}

.create-botInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-botInfo_getName {
  margin-left: 35%;
}

.create-botInfo_getMessage {
  margin-right: 35%;
}

.create-button-choose {
  position: relative;
  display: inline-block;
  padding: 8px 18px;
  margin: 10px;
  font-size: 1.5em;
  line-height: 20px;
  border: 1px solid rgb(56 56 56);
  background-color: rgb(37 37 49);
  border-radius: 6px;
  appearance: none;
  vertical-align: middle;
}

.create-button-bot {
  display: inline-block;
  margin-top: 25px;
  background-color: rgb(32 32 184);
  width: 140px;
}

.create-buttons {
  display: inline-block;
  background-color: rgb(32 32 184);
  width: 80px;
}
