.Test {
  display: flex;
  background: #0d1117;
  border-radius: 8px;
  padding: 100px 0px 0px 60px;
  overflow: hidden;
  flex: 1 1 auto;
}

.test_box {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
}

.Test__input {
  font-size: 18px;
  width: 363px;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #0d1117;
  padding: 4px;
}

.Test__button {
  width: 100%;
  background-color: rgb(32, 32, 184);
}

.test__textarea {
  border-radius: 4px;
  border: 0.5px solid rgb(102, 95, 95);
  width: 300px;
  height: 100px;
  padding: 4px;
  outline: none;
  overflow: hidden;
  resize: none;
}
